button{
    margin-top: 20px;
    width: 80px;
    height: 50px;
    padding: 10px;
}

td{
    font-display: 20px;
    text-align: center;
    margin-left: auto;
    border-style: solid;
    border:solid 1px;
    padding: 10px;
    background-color: aqua;
}
.titulo{
    color: blue;
    margin-top: 50px;
    background-size: 30px;
    text-align: center;
    
}
.highlight.x {
    background-color: rgb(202, 12, 12); /* Puedes cambiar el color si lo prefieres */
    font-weight: bold;
}
bingo-table {
    width: 100%;
    border-collapse: collapse;
}

.bingo-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.bingo-table .header {
    background-color: lightgrey; /* Color de fondo para los encabezados */
    text-align: center;
    font-weight: bold;
}

.highlight {
    background-color: lightgreen; /* Color de la X */
    font-weight: bold;
}

.highlight-columna {
    background-color: yellow; /* Color amarillo para la primera columna */
    font-weight: bold;
}


.bingo {
    flex: 2;

}
.bingo-table {
    width: 200px;
    border-collapse: collapse;
    margin: 10px; /* Espacio alrededor de cada tabla */
}

.bingo-table td {
    padding: 10px;
    text-align: center;
    border: solid 3px #0f0d0d;
}

.bingo-table .header {
    background-color: rgb(219, 51, 51); /* Color de fondo para los encabezados */
    text-align: center;
    font-weight: bold;
    border: solid 3px;
}
.highlight-x {
    background-color: yellow; /* Color de la X en amarillo */
    font-weight: bold;
}

.highlight-columna {
    background-color: rgb(116, 180, 25); /* Color amarillo para la primera columna */
    font-weight: bold;
}

.bingo-container {
    display: flex;
    gap: 10px; /* Espacio entre las dos tablas */
}

.bingo {
    flex: 1;
}



